@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: n; }

a {
  text-decoration: none; }

/*头部*/
.header_box {
  width: 100%;
  padding: 20px;
  overflow: hidden; }
  .header_box .header {
    width: 1190px;
    margin: 0 auto; }
    .header_box .header .logo {
      width: 160px;
      height: 50px;
      float: left; }
      .header_box .header .logo img {
        width: 100%;
        height: 100%; }
    .header_box .header span {
      width: 1px;
      height: 50px;
      display: inline-block;
      border-left: 1px solid #404040;
      float: left;
      margin: 0 15px; }
    .header_box .header .txt {
      height: 50px;
      line-height: 50px;
      float: left;
      font-size: 30px; }

/*登陆注册*/
.center_box {
  width: 100%;
  background: url("//img.iblimg.com/respc-1/resources/v3.0/css/i/login-body.jpg") no-repeat;
  margin-top: 20px; }
  .center_box .center {
    width: 1190px;
    margin: 0 auto; }
    .center_box .center .landing_box {
      border: 10px solid #ccc;
      margin: 0 auto;
      width: 300px;
      height: 400px;
      padding: 40px 80px; }
      .center_box .center .landing_box .landing_top {
        overflow: hidden; }
        .center_box .center .landing_box .landing_top span {
          float: left;
          font-size: 18px; }
        .center_box .center .landing_box .landing_top a {
          float: right;
          font-size: 12px;
          margin-top: 10px; }
      .center_box .center .landing_box .landing_center input {
        width: 100%;
        height: 30px;
        margin: 15px 0; }
      .center_box .center .landing_box .landing_center input:nth-child(3) {
        width: 60%; }
      .center_box .center .landing_box .landing_center .newicon {
        display: inline-block;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        width: 80px;
        height: 30px;
        border: 1px solid #FF6F6F;
        margin-top: 3px;
        margin-left: 10px; }
      .center_box .center .landing_box .landing_center .no_password {
        float: right;
        font-size: 12px; }
      .center_box .center .landing_box .landing_center .landing {
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #fa2244;
        color: #fff;
        border: 0;
        margin-top: 15px;
        cursor: pointer; }

/*底部*/
.footer_nav_box {
  width: 100%;
  background: #f4f4f4;
  overflow: hidden;
  margin-top: 40px; }
  .footer_nav_box .footer_nav {
    width: 1190px;
    margin: 0 auto; }
    .footer_nav_box .footer_nav .top_nav {
      overflow: hidden; }
      .footer_nav_box .footer_nav .top_nav .nav {
        float: left;
        padding: 20px 50px; }
        .footer_nav_box .footer_nav .top_nav .nav .nav_title .iconfont {
          margin-right: 10px;
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 30px;
          color: #fff;
          background: black;
          border-radius: 50%; }
        .footer_nav_box .footer_nav .top_nav .nav ul {
          margin-left: 50px; }
          .footer_nav_box .footer_nav .top_nav .nav ul li {
            margin: 5px; }
            .footer_nav_box .footer_nav .top_nav .nav ul li a {
              font-size: 12px;
              color: #666; }
    .footer_nav_box .footer_nav .bottom_nav {
      text-align: center;
      font-size: 12px; }
      .footer_nav_box .footer_nav .bottom_nav div {
        padding: 5px 0;
        line-height: 12px; }
        .footer_nav_box .footer_nav .bottom_nav div a {
          margin: 0 5px;
          color: #333; }
        .footer_nav_box .footer_nav .bottom_nav div img {
          width: 20px;
          height: 21px; }
      .footer_nav_box .footer_nav .bottom_nav div:last-child {
        line-height: 20px; }
